<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

  <!-- Header -->
  <header id="header-area" class="header-area fixed--header sticky--header">
    <div class="container">
      <div class="header header--style-1">
        <div class="logo image--logo hidden-md hidden-sm hidden-xs">
          <a><img src="assets/images/logo/logo-white.png" alt="header logo">
            <h2 style="font-family:adobe arabic;font-size:x-large;color:rgb(242, 244, 244);">{{mosqueeName}}</h2>
          </a>
        </div>
        <div class="header__right">
          <div class="header__right__top d-flex justify-content-end align-items-center flex-wrap flex-sm-nowrap">
            <ul class="header__right__times d-flex justify-content-start">
              <p style="font-family:adobe arabic;font-size:x-large;width: 17cm;color:rgb(242, 244, 244);"> اليوم: {{
                pray.data.date.hijri.weekday.ar}} {{ pray.data.date.hijri.date }} <span>({{ pray.data.date.hijri.month.ar }})</span> </p>
            </ul>
            <ul class="header__right__times d-flex justify-content-end">
              <li>
                <p style="font-size:x-large;">{{ pray.data.timings.Sunset }}: الغروب <i
                    class="icofont icofont-sun-set icofont-3x "></i><span class="time-sunset"></span></p>

              </li>
              <li>
                <p style="font-size:x-large;">{{ pray.data.timings.Sunrise }}: الشروق <i
                    class="icofont icofont-full-sunny icofont-2x "></i><span class="time-sunrise"></span></p>
              </li>
            </ul>
            <ul class="header__right__icons d-flex justify-content-end">

              <li class="accountbox-trigger"><a  (click)="toggle()"><i
                    class="fa  fa-cog"></i></a></li>
            </ul>
          </div>
          <div class="header__right__bottom">



          </div>
        </div>

      </div>
      <div class="banner__content text-center  ">
        <img src="assets/images/others-png/bismilla-word.png" alt="bismillah word" style="margin-top:-2rem;">
        <div>
          <h1 style="margin-top:-5rem;margin-left: -87rem;color:azure"><i
              class="icofont icofont-clock-time icofont-1x "></i>{{ time | date: 'HH:mm' }}</h1>
          <h3 style="margin-top:-6rem;margin-left: -70rem;color:azure">{{ time | date: 'ss' }}</h3>
        </div>
        <div>
          <h1 style="margin-top:-5rem;margin-left: 87rem;color:azure"><div id="cercle"></div>{{ timetoNextSalat }}</h1>
          
          <h2 style="white-space: nowrap;margin-left: 80rem;color:azure;font-family:adobe arabic;">المتبقي للصلاة القادمة</h2>
        </div>
        <div>
         
              
          <div ><h3  style="margin-top:5rem;margin-left:-0rem;color:rgb(253,245,230)" >{{doua[indice2]}}</h3></div>
        </div>
      </div>
    </div>
  </header><!-- //Header -->

  <div class="banner-area">
    <div (click)="changeBackground()" [ngClass]="getBackground()">
      <div class="banner fullscreen d-flex align-items-center" data-black-overlay="6">
        <div class="container position top-20 start-30 ">
          <div class="row  ">
            <div>
              <div class="banner__content text-center">
                <!-- <div style="position: absolute;top: 30%;margin-top:-7rem;width: 85%;text-align: center;color:azure" id="left_bar">
                <table class="text-white" id="timetable"  >
                  <tr>
                    <th></th>
                    <th style="font-family:adobe arabic;" class="cr-breadcrumb__title">الأذان </th>
                    <th style="font-family:adobe arabic;">إقامة الصلاة</th>

                  </tr>
                  <tr id="fajr_row">
                    <td class="prayer_name">الفجر</td>
                    <td id="fajr_athan" class="athan_time">{{ pray.data.timings.Fajr }}</td>
                    <td id="fajr_iqama">{{F}}</td>

                  </tr>
                  <tr id="dhuhr_row">
                    <td class="prayer_name">الظهر<br></td>
                    <td id="dhuhr_athan" class="athan_time">{{ pray.data.timings.Dhuhr }}</td>
                    <td style="color:aliceblue" id="dhuhr_iqama">{{D}}</td>

                  </tr>
                  <tr id="asr_row">
                    <td class="prayer_name">العصر</td>
                    <td id="asr_athan" class="athan_time">{{ pray.data.timings.Asr }}</td>
                    <td id="asr_iqama">{{A}}</td>
                  </tr>
                  <tr id="maghrib_row">
                    <td class="prayer_name">المغرب</td>
                    <td id="maghrib_athan" class="athan_time">{{pray.data.timings.Maghrib}}</td>
                    <td id="maghrib_iqama">{{M}}</td>
                  </tr>
                  <tr id="isha_row">
                    <td class="prayer_name">العشاء</td>
                    <td id="isha_athan" class="athan_time">{{ pray.data.timings.Isha }}</td>
                    <td id="isha_iqama">{{I}}</td>
                  </tr>
                </table>
              </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- //Top Banner -->

</div>


<aside *ngIf="hide" class="contact-page-form pt--100">
  
  <div class="container">
    <div class="row">
      <!-- Contact Form -->
      <div dir="rtl" class="col-lg-8">
        <div class="comment-box">
          <div class="contact__form">
            <div class="small-title">
              <h4>إختيار إسم المسجد </h4>
              <form class="comment-box">
                <div class="single-input">
                  <input type="text" [(ngModel)]='mosqueeName' name="con_name" placeholder="إسم المسجد ">
                </div>
              </form>
            </div><br>

            <br>
            <h4>إختيار أوقات إقامة الصلاة</h4>
            <p dir="rtl">يمكنك إضافة بعض الدقائق لتوقيت إقامة الصلاة و سيتم إحتسابها مع وقت الٱذان بشكل تلقائي</p>
          </div>
          <div class="comment-box">
            <form id="contact-form">

              <div class="single-input">
                <h5>الفجر</h5>
                <input type="number" [(ngModel)]='faj' name="con_name" placeholder="minutes">
              </div>
              <div class="single-input">
                <h5>الظهر</h5>
                <input type="number" [(ngModel)]='dhoh' name="con_email" placeholder="minutes">
              </div>
              <div class="single-input">
                <h5>العصر</h5>
                <input type="number" [(ngModel)]='asr' name="con_phone" placeholder="minutes">
              </div>
              <div class="single-input">
                <h5>المغرب</h5>
                <input type="number" [(ngModel)]='magh' name="con_subject" placeholder="minutes">
              </div>
              <div class="single-input">
                <h5>العشاء</h5>
                <input type="number" [(ngModel)]='ish' name="con_subject" placeholder="minutes">
              </div>
              <div class="single-input">
                <button type="submit" class="cr-btn cr-btn--sm cr-btn--secondary cr-btn--icon"
                  (click)="addMosqueeMomentJs()"><span>حفظ</span></button>
              </div>
            </form>
            <p class="form-messege mt-3 mb-0"></p>
          </div>
          <div class="small-title">
            <h4>تغيير التاريخ الهجري</h4>
            <p>يمكنك تغييرالأيام في التاريخ الهجري بإضافة أو حذف يوم و سيتم إحتسابها مع التاريخ الهجري بشكل تلقائي</p>
            <div class="comment-box">
              <form id="contact-form">

                <div class="single-input">
                  <h5>تغييراليوم</h5>
                  <input type="number" [(ngModel)]='hijri' name="con_name" placeholder="إضافة أو حذف يوم">
                </div>

                <div class="single-input">
                  <button type="submit" class="cr-btn cr-btn--sm cr-btn--secondary cr-btn--icon"
                    (click)="changeHijriDate()"><span>تغيير</span></button>
                </div>
              </form>
              <p class="form-messege mt-3 mb-0"></p>
            </div>

          </div>
        </div>

      </div><!-- //Contact Form -->
      <div class="col-lg-4">
        <img src="assets/images/others-jpg/contact-image.jpg" alt="contact image">
      </div>
    </div>
  </div>
</aside>
<!-- CCC --->

<div class='banner__content text-center' style="top: 30%;margin-top:18rem;width: 100%;text-align: center;" id="left_bar">


  <table cellpadding='3' cellspacing='0' width='100%' style='position:absolute; top:0px;'>
    <tr style='font-size:3.7vw;font-family:adobe arabic;'>
      <td width='16%' id='t5' class='trd'>العشاء <span id='xTIK' style='font-size:1.7vw;'></span></td>
      <td width='16%' id='t4' class='trd'>المغرب</td>
      <td width='16%' id='t3' class='trd'>العصر</td>
      <td width='16%' id='t2' class='trd'>الظهر</td>

      <td width='16%' id='t0' class='trd'>الفجر </td>
    </tr>
    <tr style='font-size:4.9vw;;color:azure'>


      <td width='16%' id='s4' >{{ pray.data.timings.Isha }}</td>
      <td width='16%'  id='s3' class='CSS_04_A'>{{ pray.data.timings.Maghrib }}</td>
      <td width='16%' id='s2' class='CSS_03_A'>{{ pray.data.timings.Asr }}</td>
      <td width='16%' id='s1' class='CSS_02_A'>{{ pray.data.timings.Dhuhr }}</td>

      <td width='16%' id='s0' >{{ pray.data.timings.Fajr}}</td>
      <td style="font-family:adobe arabic;color:rgb(150, 105, 25)"> الأذان</td>
    </tr>
    <tr style='font-size:4.9vw;;color:azure'>


      <td width='16%' id='s4' >{{ I }}</td>
      <td width='16%' id='s3' class='CSS_04_A'>{{ M }}</td>
      <td width='16%' id='s2' class='CSS_03_A'>{{ A}}</td>
      <td width='16%' id='s1' class='CSS_02_A'>{{ D }}</td>

      <td width='16%' id='s0' class='CSS_01_A'>{{ F}}</td>
      <td style="font-family:adobe arabic;color:rgb(150, 105, 25) ">الصلاة</td>
    </tr>

  </table>



  <span id='_demain' style='position:absolute; z-index:175; right:5px; top:1%; font-size:1.3vw; color:whi;'></span>


</div>
<router-outlet></router-outlet>